{% extends 'maqueta.html' %}
{% load pwa %}
{% load staticfiles %}
{% block principal %}
{% progressive_web_app_meta %}
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/jquery.bxslider.min.js'%}"></script>
<script src="{% static 'js/codigo.js' %}"></script>

<script src="{% static 'js/DjangoAjax.js'%}"></script>

<script src="{% static 'css/jquery.bxslider.css'%}"></script>
<link rel="stylesheet" href="{% static 'css/jquery.bxslider.css'%}">

<script type="text/javascript" src="{% static 'js/serviceworker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/idbop.js' %}"></script>
<script type="text/javascript" src="{% static 'js/idb.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/principal.css'%}">
<link rel="stylesheet" href="{% static 'css/carrusel.css'%}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
<section class="carrusel"><!--Carrusel -->
    <div id="carrusel">
        <div><img src="{% static 'img/perro-kOnG-U40521460347ChF-624x385@Ideal.jpeg' %}"></div>
		<div><img src="{% static 'img/mastines-ovejas-kq6H-U50234879860gZD-624x385@El Correo.jpg' %}"></div>
		<div><img src="{% static 'img/perros-calor-k8PB-U60305494276GXC-624x385@Ideal1.jpg' %}"></div>
		<div><img src="{% static 'img/perretes-ksGC-U40396701700H5H-624x385@La Verdad1.jpg' %}"></div>
		<div><img src="{% static 'img/cacaperro-kVW-U60247811034EcB-624x385@Diario Sur.jpg' %}"></div>
		<div><img src="{% static 'img/32251817--624x936-U402330379L9G-U501097818305fj-624x385@El Comercio-ElComercio.jpg' %}" ></div>
    </div>
    </section>
    <script src="{% static 'js/codigo.js' %}"></script>
    
        <div class="redesSociales"><!--Redes Sociales -->
           
            <p>+56 9 98765431</p>
           
            <p>Rescate y adoción de perros callejeros</p>
            
            <nav>
                <a href="#"><img src="{% static 'img/kisspng-facebook-logo-icon-facebook-logo-png-image-5a78cd9fb2d066.5692532815178663997324.PNG' %}" height="25" href="https://es-la.facebook.com/"></a>
                <a href="#"><img src="{% static 'img/kisspng-image-photograph-logo-computer-icons-portable-netw-5b65ac832a2e20.9567070515333899551728.PNG' %}" height="25" href="https://plus.google.com/?hl=es"></a>
                <a href="#"><img src="{% static 'img/kisspng-instagram-logo-social-media-clip-art-may-20-2016-5b524c3de1cdc3.9355458915321201259249.PNG' %}" height="25" href="https://www.instagram.com/?hl=es-la"></a>
                <a href="#"><img src="{% static 'img/kisspng-email-computer-icons-message-bounce-address-email-icon-5ac24c369ca033.5563588615226829346416.PNG' %}" height="25" href="https://www.google.com/gmail/"></a>
            </nav>
        </div>
    
    <div class="ventanaBasica"><!--Ventana de Informacion basica -->
        <div class="segundo" id="info"><!--ventanaInfo1 -->
            <h4>RESCATE</h4>
            <h5>ETAPA UNO</h5>
        ____________________________
        
            <p><br>Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>
        
            <img src="{% static 'img/Perros-callejeros-mexico-3.jpg' %}" height="100">
        </div>
    <br>
        <div class="tercero"><!--ventanaInfo2 -->
            <img src="{% static 'img/Affinity-para-todo-tipo-de-perros-.jpeg' %}" height="100">
            <h4>CROWDFUNDING</h4>
            <h5>FINANCIAMIENTO</h5>
        ___________________________
            <p><br>Sigue nuestras redes sociales para informarle acerca de las diversas campañas y actividades que realizamos para obtener financimiento para seguir ayudando.</p>
            <input type="button" value="CAMPAÑAS" height="10">
        </div>
    </div>	
    <br>
    <div class="galeria"><!--Galeria -->
        <div class="caja largo">
            <img src="{% static 'img/images.jpg' %}" >
            <img src="{% static 'img/criar-a-un-cachorro-de-perro.jpg' %}" >
        </div>
        <div class="caja maslargo">
            <img src="{% static 'img/cahorro-perro-pastor-aleman.jpg' %}" >
            <img src="{% static 'img/perros-cachorros-cuidados.jpg' %}">
            <img src="{% static 'img/Cachorro_corriendo.jpg' %}"  >
        </div>
            <div class="caja maslargo">
            <img src="{% static 'img/cachorros.jpg' %}" id="larga" >
            <img src="{% static 'img/como-adiestrar-a-perros-cachorros.jpg' %}" >
        </div>
        
    </div>

{% endblock %}